@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Sora", sans-serif;
}
html {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.input-field,
.empty {
  display: flex;
  flex-direction: column;
}
.input-field label {
  padding: 1rem 0 0.5rem 0;
}
.input-field input {
  padding: 0.5rem;
  border: 1px solid #12c2e9;
  border-radius: 1rem;
}
.input-field input:focus {
  padding: 0.8rem;
  border: 1px solid #c471ed;
  border-radius: 2rem;
  transition: 0.2s;
  outline: none;
}
.empty label {
  color: #f64f59;
  font-weight: bold;
}
.empty input {
  border: 1px solid #f64f59;
  background-color: #ffdddf;
}

